{% load static %}
<html lang="en">

{%include 'header.html'%}

<body>
<div class="ps-my-account">
    <div class="container">
        <form class="ps-form--account ps-tab-root" method="POST" novalidate enctype="multipart/form-data">
            <ul class="ps-tab-list">
                <li><a>Change Your Password</a></li>
            </ul>
            <div class="ps-tabs">
                <div class="ps-tab active" id="sign-in">
                    <div class="ps-form__content">
                        <h5>Change Password</h5>
                        {% csrf_token %}
                        {{form.as_p}}

                        <div class="form-group submit">
                            <button type="submit"  class="ps-btn ps-btn--fullwidth">Confirm</button>
                        </div>
                    </div>
                    <div class="ps-form__footer">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
</body>

{% include 'footer.html'%}
</html>
