{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<title>{{user.first_name}} {{user.last_name}} | Jewellery | Jewellery.com.bd</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{%include 'header.html'%}
<style>

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        width: 5px;
        background: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        width: 1em;
        background-color: #ddd;
        outline: 1px solid slategrey;
        border-radius: 1rem;
    }

    .text-small {
        font-size: 1.25rem;
    }

    .messages-box,
    .chat-box {
        height: 510px;
        overflow-y: scroll;
    }

    .rounded-lg {
        border-radius: 0.5rem;
    }

    input::placeholder {
        font-size: 0.9rem;
        color: #999;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #fcb800;
        border-color: #fcb800;
    }
    .bg-white{
        border-color: #fcb800;
    }

    .bg-primary {
        background-color: #fcb800 !important;
    }
</style>

<body>
<main class="ps-page--my-account">
    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header"><img src="{{user.userprofile.image.url}}"
                                                                alt="{{user.first_name}}" class="rounded-circle"
                                                                width="150">
                                <figure>
                                    <figcaption>Hello</figcaption>
                                    <p>{{user.email}}</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <ul>
                                    <li><a href="{% url 'core:userprofile' %}"><i class="icon-user"></i>
                                        Account Information</a></li>
                                    <li><a href="{% url 'core:userOrder' %}"><i class="icon-papers"></i> My Orders</a>
                                    </li>
                                    <li class="active"><a href="{% url 'core:chat' %}"><i class="icon-paper-plane"></i>
                                        Chat</a>
                                    </li>

                                    <li><a href="{% url 'core:points' %}"><i class="icon-coin-dollar"></i>
                                        Jewellery Points</a></li>
                                    {% if user.sellerprofile.isSeller %}
                                    <li class="list-group-item">
                                        <a class=" btn btn-outline-primary alert-warnings "
                                           href="{% url 'vendorDashboard' %}">
                                            <i class="fas fa-tachometer-alt"></i>
                                            Go to Vendor Dashboard
                                        </a>
                                    </li>
                                    {%endif%}
                                    <li><a href="{% url 'core:changePassword' %}"><i class="icon-power-switch"></i>Change
                                        Password</a>
                                    <li><a href="{% url 'core:logout' %}"><i class="icon-power-switch"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ps-section__right">
                        <form method="POST" enctype="multipart/form-data" action="#"
                              class="ps-form--account-setting">
                            {% csrf_token %}
                            <div class="ps-form__header">
                                <h3> Chat</h3>
                            </div>
                            <br>
                            <div class="ps-form__content">
                                <div class="row rounded-lg overflow-hidden shadow">
                                    <!-- Users box-->
                                    <div class="col-sm px-0" >
                                        <div class="bg-white" >

                                            <div class="bg-gray px-4 py-2 bg-light">
                                                <p class="h5 mb-0 py-1">Recent</p>
                                            </div>

                                            <div class="messages-box">
                                                <div class="list-group rounded-0">
                                                    <a class="list-group-item list-group-item-action active text-white rounded-0">
                                                        <div class="media"><img
                                                                src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                                                alt="user" width="50" class="rounded-circle">
                                                            <div class="media-body ml-4">
                                                                <div class="d-flex align-items-center justify-content-between mb-1">
                                                                    <h6 class="mb-0" style="color: #fff">Jewellery
                                                                        Mall</h6><small
                                                                        class="small font-weight-bold">25
                                                                    February</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Chat Box-->
                                    <div class="col-lg px-0">
                                        <div class="px-4 py-5 chat-box bg-white">
                                            <!-- Sender Message-->
                                            <div class="media w-50 mb-3"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                                    alt="user" width="50" class="rounded-circle">
                                                <div class="media-body ml-3">
                                                    <div class="bg-light rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-muted">Test which is a new
                                                            approach all solutions</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                            <!-- Reciever Message-->
                                            <div class="media w-50 ml-auto mb-3">
                                                <div class="media-body">
                                                    <div class="bg-primary rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-white">Test which is a new
                                                            approach to have all solutions</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                            <!-- Sender Message-->
                                            <div class="media w-50 mb-3"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                                    alt="user" width="50" class="rounded-circle">
                                                <div class="media-body ml-3">
                                                    <div class="bg-light rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-muted">Test, which is a new
                                                            approach to have</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                            <!-- Reciever Message-->
                                            <div class="media w-50 ml-auto mb-3">
                                                <div class="media-body">
                                                    <div class="bg-primary rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-white">Apollo University, Delhi,
                                                            India Test</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                            <!-- Sender Message-->
                                            <div class="media w-50 mb-3"><img
                                                    src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                                    alt="user" width="50" class="rounded-circle">
                                                <div class="media-body ml-3">
                                                    <div class="bg-light rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-muted">Test, which is a new
                                                            approach</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                            <!-- Reciever Message-->
                                            <div class="media w-50 ml-auto mb-3">
                                                <div class="media-body">
                                                    <div class="bg-primary rounded py-2 px-3 mb-2">
                                                        <p class="text-small mb-0 text-white">Apollo University, Delhi,
                                                            India Test</p>
                                                    </div>
                                                    <p class="small text-muted">12:00 PM | Aug 13</p>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- Typing area -->
                                        <form action="#" class="bg-light">
                                            <div class="input-group">
                                                <input type="text" placeholder="Type a message"
                                                       aria-describedby="button-addon2"
                                                       class="form-control rounded-0 border-0 py-4 bg-light">
                                                <div class="input-group-append">
                                                    <button id="button-addon2" type="submit" class="btn btn-link"><i
                                                            class="fa fa-paper-plane"></i></button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>


{% include 'footer.html'%}


</html>
