{% load static %}
<html lang="en">
{%include 'header.html'%}

<body>
<div class="ps-my-account">
    <div class="container">
        <form class="ps-form--account ps-tab-root" method="get">
            <ul class="ps-tab-list">
                <li><a>Register</a></li>
            </ul>
            <div class="ps-tabs">
                <div class="ps-tab active" id="sign-in">
                    <div class="ps-form__content">
                        <h5>Create a New Account</h5>
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Username"
                                   required>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" id="email"
                                       placeholder="example@gmail.com" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password" minlength="8"
                                   title="Must contain 8 or more characters" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Invalid Password-->
                                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="Password"> Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                   name="confirm_password"
                                   placeholder="Password" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Password Not Mactched.
                            </div>

                        </div>

                        <div class="form-group submit">
                            <button class="ps-btn ps-btn--fullwidth">Register</button>
                        </div>
                    </div>
                    <div class="ps-form__footer">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!--    <div class="d-flex" id="wrapper">-->

<!--        &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--        {%include "sideNav.html"%}-->

<!--        &lt;!&ndash;Main View Start&ndash;&gt;-->
<!--        <div id="page-content-wrapper">-->
<!--            <div class="container-fluid">-->
<!--                <main role="main"><br>-->
<!--                    <div class="container">-->
<!--                        <div class="py text-center">-->
<!--                            <h2>Create Account</h2>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 rounded mx-auto d-block">-->

<!--                            <form method="post" action="/create-user/" class="needs-validation" novalidate>-->
<!--                                {% csrf_token %}-->
<!--                                {% for message in messages %}-->
<!--                                <div class="form-group ">-->
<!--                                    <div class="col-md-12">-->

<!--                                        <p class="form-control alert alert-danger" id="messages">{{message}}</p>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                                {% endfor %}-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="firstName">First name</label>-->
<!--                                        <input type="text" class="form-control" name="firstName" id="firstName"-->
<!--                                               required>-->
<!--                                        <div class="invalid-feedback">-->
<!--                                            Valid first name is required.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 mb-3">-->
<!--                                        <label for="lastName">Last name</label>-->
<!--                                        <input type="text" class="form-control" name="lastName" id="lastName" required>-->
<!--                                        <div class="invalid-feedback">-->
<!--                                            Valid last name is required.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="mb-3">-->
<!--                                    <label for="username">Username</label>-->
<!--                                    <div class="input-group">-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text">@</span>-->
<!--                                        </div>-->
<!--                                        <input type="text" class="form-control" name="username" id="username"-->
<!--                                               placeholder="Username"-->
<!--                                               required>-->
<!--                                        <div class="invalid-feedback" style="width: 100%;">-->
<!--                                            Your username is required.-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->


<!--                                <div class="mb-3">-->
<!--                                    <label for="email">Email</label>-->
<!--                                    <input type="email" class="form-control" id="email" name="email"-->
<!--                                           placeholder="you@example.com"-->
<!--                                           required>-->
<!--                                    <div class="invalid-feedback">-->
<!--                                        Please enter a valid email address for Sign Up.-->
<!--                                    </div>-->

<!--                                    <div class="mb-3">-->
<!--                                        <label for="Password">Password</label>-->
<!--                                        <div class="input-group">-->
<!--                                            <div class="input-group-prepend">-->
<!--                                            </div>-->
<!--                                            <input type="password" class="form-control" id="password" name="password"-->
<!--                                                   placeholder="Password" minlength="8"-->
<!--                                                   title="Must contain 8 or more characters" required>-->
<!--                                            <div class="invalid-feedback" style="width: 100%;">-->
<!--                                                Invalid Password-->
<!--                                                <p id="length" class="invalid">Minimum <b>8 characters</b></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="mb-3">-->
<!--                                        <label for="Password"> Confirm Password</label>-->
<!--                                        <div class="input-group">-->
<!--                                            <div class="input-group-prepend">-->
<!--                                            </div>-->
<!--                                            <input type="password" class="form-control" id="confirm_password"-->
<!--                                                   name="confirm_password"-->
<!--                                                   placeholder="Password" required>-->
<!--                                            <div class="invalid-feedback" style="width: 100%;">-->
<!--                                                Password Not Mactched.-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <hr class="mb-4">-->
<!--                                    <button class="btn btn-primary btn-lg btn-block" type="submit"><i-->
<!--                                            class="fas fa-user-plus"></i> Register-->
<!--                                    </button>-->
<!--                                </div>-->

<!--                            </form>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                </main>-->

<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash;Main View End&ndash;&gt;-->
<!--    </div>-->


</body>


{% include 'footer.html'%}
</html>
