{% load static %}
{% load widget_tweaks %}
{%include 'header.html'%}


<body>
<main class="ps-page--my-account">
    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header"><img src="{{user.userprofile.image.url}}"
                                                                alt="{{user.first_name}}" class="rounded-circle"
                                                                width="150">
                                <figure>
                                    <figcaption>Hello</figcaption>
                                    <p>{{user.email}}</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <ul>
                                    <li class="active"><a href="{% url 'core:userprofile' %}"><i class="icon-user"></i>
                                        Account Information</a></li>
                                    <li><a href="{% url 'core:userOrder' %}"><i class="icon-papers"></i> My Orders</a>
                                    </li>
                                    <li ><a href="{% url 'core:chat' %}"><i class="icon-paper-plane"></i> Chat</a>
                                    </li>
                                    <li><a href="{% url 'core:points' %}"><i class="icon-coin-dollar"></i>
                                        Jewellery Points</a></li>
                                    {% if user.sellerprofile.isSeller %}
                                    <li class="list-group-item">
                                        <a class=" btn btn-outline-primary alert-warnings "
                                           href="{% url 'vendorDashboard' %}">
                                            <i class="fas fa-tachometer-alt"></i>
                                            Go to Vendor Dashboard
                                        </a>
                                    </li>
                                    {%endif%}
                                    <li><a href="{% url 'core:changePassword' %}"><i class="icon-power-switch"></i>Change Password</a>
                                    <li><a href="{% url 'core:logout' %}"><i class="icon-power-switch"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ps-section__right">

                       <form method="post" class="needs-validation " novalidate enctype="multipart/form-data">
                            <fieldset class="form-group">
                                {% csrf_token %}
                                {{form.media}}
                                {{form.as_p}}
                            </fieldset>
                            <button class="ps-btn danger " type="submit">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="ps-newsletter">
        <div class="ps-container">
            <form class="ps-form--newsletter" action="do_action" method="post">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__left">
                            <h3>Newsletter</h3>
                            <p>Subcribe to get information about products and coupons</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__right">
                            <div class="form-group--nest">
                                <input class="form-control" type="email" placeholder="Email address">
                                <button class="ps-btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>


{% include 'footer.html'%}


</html>
