{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<title>{{user.first_name}} {{user.last_name}} | Jewellery | Jewellery.com.bd</title>

{%include 'header.html'%}


<body>
<main class="ps-page--my-account">
    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header"><img src="{{user.userprofile.image.url}}"
                                                                alt="{{user.first_name}}" class="rounded-circle"
                                                                width="150">
                                <figure>
                                    <figcaption>Hello</figcaption>
                                    <p>{{user.email}}</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <ul>
                                    <li class="active"><a href="{% url 'core:userprofile' %}"><i class="icon-user"></i>
                                        Account Information</a></li>
                                    <li><a href="{% url 'core:userOrder' %}"><i class="icon-papers"></i> My Orders</a>
                                    </li>
                                    <li><a href="{% url 'core:chat' %}"><i class="icon-paper-plane"></i> Chat</a>
                                    </li>

                                    <li><a href="{% url 'core:points' %}"><i class="icon-coin-dollar"></i>
                                        Jewellery Points</a></li>
                                    {% if user.sellerprofile.isSeller %}
                                    <li class="list-group-item">
                                        <a class=" btn btn-outline-primary alert-warnings "
                                           href="{% url 'vendorDashboard' %}">
                                            <i class="fas fa-tachometer-alt"></i>
                                            Go to Vendor Dashboard
                                        </a>
                                    </li>
                                    {%endif%}
                                    <li><a href="{% url 'core:changePassword' %}"><i class="icon-power-switch"></i>Change
                                        Password</a>
                                    <li><a href="{% url 'core:logout' %}"><i class="icon-power-switch"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ps-section__right">
                        <form method="POST" enctype="multipart/form-data" action="/updateProfile/"
                              class="ps-form--account-setting">
                            {% csrf_token %}
                            <div class="ps-form__header">
                                <h3> User Information</h3>
                            </div>
                            <br>
                            <div class="ps-form__content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input id="firstName" name="firstName" value="{{request.user.first_name}}"
                                                   class="form-control" type="text"
                                                   placeholder="Please enter your First name..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input id="lastName" name="lastName" value="{{request.user.last_name}}"
                                                   class="form-control" type="text"
                                                   placeholder="Please enter your First name..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile">Phone Number</label>
                                            <input id="mobile" name="phone" value={{user.userprofile.Phone}}
                                                   class="form-control" type="text"
                                                   placeholder="Please enter phone number..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" name="email" value="{{user.email}}" class="form-control"
                                                   type="text" placeholder="Please enter your email..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input id="address" name="address" value=" {{user.userprofile.address}}"
                                                   class="form-control" type="text"
                                                   placeholder="Please enter your Address..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input id="city" name="city" value=" {{user.userprofile.city}}"
                                                   class="form-control" type="text"
                                                   placeholder="Please enter your City..." disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <input id="country" name="country" value="{{user.userprofile.country}}"
                                                   class="form-control" type="text"
                                                   placeholder="Please enter your Country..." disabled>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>
                        <div>
                            <a href="{%url 'core:updateProfile'%}" type="submit" class="ps-btn">Update Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>


{% include 'footer.html'%}


</html>
