{% load static %}
<html lang="en">


{%include 'header.html'%}


    <body>

    <div class="d-flex" id="wrapper">
        <!--Main View Start-->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <main role="main"><br>
                    <div class="cart-wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="py-3 text-center">
                                        <h2>About</h2>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        {{ Settings.aboutus | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </main>
            </div>

        </div>
        <!--Main View End-->
    </div>
    </body>
{% include 'footer.html'%}
</html>
