{%load static%}
{%load cart_template_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{{Settings.favIcon.url}}"/>
    <title>Jewellery Seller | Jewllery Seller</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'seller/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'seller/fonts/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'seller/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'seller/plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'seller/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'seller/plugins/summernote/summernote-bs4.min.css' %}">
    <link rel="stylesheet" href="{% static 'seller/plugins/apexcharts-bundle/dist/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/style.css' %}">

</head>

<body>
<header class="header--mobile">
    <div class="header__left">
        <button class="ps-drawer-toggle"><i class="icon icon-menu"></i></button>
        <img src="" alt="">
    </div>
    <div class="header__center"><a class="ps-logo" href="#"><img src="{{Settings.logo.url}}" width="70"
                                                                 height="70" alt=""></a></div>
    <div class="header__right"><a class="header__site-link" href="{% url 'core:logout' %}"><i
            class="icon-exit-right"></i></a></div>
</header>
<aside class="ps-drawer--mobile">
    <div class="ps-drawer__header">
        <h4> Menu</h4>
        <button class="ps-drawer__close"><i class="icon icon-cross"></i></button>
    </div>
    <div class="ps-drawer__content">
        <ul class="menu">
            <li><a href="{% url 'vendorDashboard' %}"><i class="icon-home"></i>Dashboard</a></li>
            <li><a href="{% url 'allProduct' %}"><i class="icon-database"></i>Products</a></li>
            <li><a href="{% url 'vendoerOrderManager'%}"><i class="icon-bag2"></i>Orders</a></li>
            <li><a href="{% url 'sellerProfile'%}"><i class="icon-cog"></i>Settings</a></li>
            {%if request.user.is_superuser%}
            <li><a class="active" href="{% url 'allSeller'%}"><i class="icon-cog"></i>All Seller
                <span class="badge badge-danger">{% sellerCount as count %} {{count}}</span>
            </a></li>
            <li><a href="{% url 'sellerRequest'%}"><i class="icon-cog"></i>Seller Request
                <span class="badge badge-danger">{% sellerRequsetCount as count %} {{count}}</span>
            </a></li>
            {%endif%}
        </ul>
    </div>
</aside>
<div class="ps-site-overlay"></div>
<main class="ps-main">
    <div class="ps-main__sidebar">
        <div class="ps-sidebar">
            <div class="ps-sidebar__top">
                <div class="ps-block--user-wellcome">
                    <div class="ps-block__left"><img src="{{user.sellerprofile.ShopDetails.ShopLogo.url}}" height="50"
                                                     width="50" alt=""/></div>
                    <div class="ps-block__right">
                        <p>Hello,<a href="#">{{user.sellerprofile.ShopDetails.Name}}</a></p>
                    </div>
                    <div class="ps-block__action"><a href="{% url 'core:logout' %}"><i class="icon-exit"></i></a></div>
                </div>
                <div class="ps-block--earning-count"><small>Earning</small>
                    <h3>৳ {{total_sales}}</h3>
                </div>
            </div>
            <div class="ps-sidebar__content">
                <div class="ps-sidebar__center">
                    <ul class="menu">
                        <li><a href="{% url 'vendorDashboard' %}"><i class="icon-home"></i>Dashboard</a>
                        </li>
                        <li><a href="{% url 'allProduct' %}"><i class="icon-database"></i>Products</a></li>
                        <li><a href="{% url 'vendoerOrderManager'%}"><i class="icon-bag2"></i>Orders</a></li>
                        <li><a href="{% url 'sellerProfile'%}"><i class="icon-cog"></i>Settings</a></li>
                        {%if request.user.is_superuser%}
                        <li><a class="active" href="{% url 'allSeller'%}"><i class="icon-cog"></i>All Seller
                        <span class="badge badge-danger">{% sellerCount as count %} {{count}}</span>
                        </a></li>
                        <li><a href="{% url 'sellerRequest'%}"><i class="icon-cog"></i>Seller Request
                        <span class="badge badge-danger">{% sellerRequsetCount  as count %} {{count}}</span>
                        </a></li>
                        {%endif%}
                    </ul>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <br>

                <div class="ps-sidebar__footer">
                    <div class="ps-copyright"><img src="{{Settings.logo.url}}" width="170" alt="">
                        <p>&copy;2021 Jewellery.com.bd. <br/> All rights reversed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-main__wrapper">
        <header class="header--dashboard">
            <div class="header__left">
                <h3>All Jewellery Seller</h3>
            </div>


        </header>
        <section class="ps-items-listing">
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table">
                        <thead>
                        <tr>
                            <th>Seller ID</th>
                            <th>Sellers Photo</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Shop Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for seller in sellers%}
                        <tr>
                            <td>
                                <a href="{% url 'sellerDetails' seller.Seller_id %}">{{seller.Seller_id}}</a>
                            </td>
                            <td><img src="{{seller.user.userprofile.image.url}}" alt="" width="50" height="50"></td>
                            <td><a><strong>{{seller.user.username}}</strong></a></td>
                            <td><a><strong>{{seller.ShopDetails.Name}}</strong></a></td>
                            <td><span class="ps-badge success"><a
                                    href="{% url 'core:sellerDetails' seller.Seller_id %}">{{seller.ShopDetails.ShopName}}</a></span>
                            </td>
                            <td><span class="ps-fullfillment">{{seller.ShopDetails.Phone}}</span>
                            </td>
                            <td><strong>{{seller.ShopDetails.Address}}</strong></td>
                            <td>
                                <div class="dropdown"><a id="dropdownMenuButton" data-toggle="dropdown"
                                                         aria-haspopup="true" aria-expanded="false"><i
                                        class="icon-ellipsis"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'core:sellerDetails' seller.Seller_id %}">Visit
                                            Store</a>
                                        <a class="dropdown-item" href="{% url 'sellerDetails' seller.Seller_id %}">View
                                            Details</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</main>
<script src="{% static 'seller/plugins/jquery.min.js' %}"></script>
<script src="{% static 'seller/plugins/popper.min.js' %}"></script>
<script src="{% static 'seller/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'seller/plugins/jquery.matchHeight-min.js' %}"></script>
<script src="{% static 'seller/plugins/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'seller/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'seller/plugins/apexcharts-bundle/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'seller/js/chart.js' %}"></script>
<!-- custom code-->
<script src="{% static 'seller/js/main.js' %}"></script>
</body>

</html>