{% load static %}
{% load widget_tweaks %}
<title>Seller Register | Jewellery | Jewellery.com.bd</title>
{%include 'header.html'%}


<body>
<div class="ps-page--my-account">
    <div class="ps-my-account-2">
        <div class="container">
            <div class="ps-section__wrapper">

                <div class="ps-section__left">
                    {% for message in messages %}
                    <br>
                    <div class="alert alert-warning">
                        <button aria-hidden="true" data-dismiss="alert " class="close" type="button">×</button>
                        <strong>{{message | safe}}</strong></div>

                    {% endfor %}

                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                        </div>
                        <div class="col-md-auto">

                        <img src="{%static 'media/Become_Our_Seller.gif'%}" alt="" >
                        </div>
                        <br>
                        <div class="col col-lg-2">

                        </div>
                    </div>
                    <br>
                    <form class="ps-form--account ps-tab-root" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="sign-in">
                                <div class="ps-form__content">
                                    <div class="form-group">
                                        {% render_field form.Name class="form-control" placeholder="Your name"%}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.ShopName class="form-control" placeholder="Your Shop name" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        <label>Shop Logo</label>
                                        {% render_field form.ShopLogo placeholder="Shop Logo" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.Phone class="form-control" placeholder="Contact Number" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.Email class="form-control" placeholder="name@example.com" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.Address class="form-control" placeholder="Shop Address"%}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.NID class="form-control"  placeholder="NID No" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        {% render_field form.TradeLicense class="form-control" placeholder="Trade License No" %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        <label>NID Image</label>
                                        {% render_field form.NIDImage %}
                                    </div>
                                    <div class="form-group form-forgot">
                                        <label>Trade Licence Image</label>
                                        {% render_field form.TradeImage %}
                                    </div>
                                    <div class="form-group">
                                        <div class="ps-checkbox">
                                            <input class="form-control" type="checkbox" id="remember-me"
                                                   name="remember-me">
                                            <label for="remember-me">Rememeber me</label>
                                        </div>
                                    </div>
                                    <div class="form-group submit">
                                        <button class="ps-btn ps-btn--fullwidth" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ps-section__right">
                    <figure class="ps-section__desc">
                        <figcaption>Become our Seller today and you will be able to:</figcaption>
                        <ul class="ps-list">
                            <li><i class="icon-credit-card"></i><span>Sell Your Products</span></li>
                            <li><i class="icon-clipboard-check"></i><span>Engage with more Customer</span></li>
                            <li><i class="icon-bag2"></i><span>KEEP A RECORD OF ALL YOUR Products and Orders</span></li>
                        </ul>
                    </figure>
                    <div class="ps-section__coupon"><span></span>
                        <aside>
                            <h5>{{Settings.siteTitle}}</h5>
                            <p>{{Settings.description}}</p>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


{% include 'footer.html'%}


</html>
