{% load static %}
{% load cart_template_tags%}
{%include 'header.html'%}
<body>

<div class="ps-page--simple">
    <div class="ps-breadcrumb">
        <div id="page-content-wrapper">
            {% for message in messages %}
            <br>
            <div class="col-md-8">
                <div class="alert " style="background: #B18729; color:#fff;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="color:#fff;">×
                    </button>
                    <strong>{{message}}!</strong></div>


            </div>

            {% endfor %}
        </div>
        <div class="ps-section--shopping ps-shopping-cart">
            {%if empty%}
            <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center"><img
                        src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                        class="img-fluid mb-4 mr-3">
                    <h3><strong>Your Bag is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4> <a href="{%url 'core:shop'%}"
                                                                  class="btn btn-primary cart-btn-transform m-3"
                                                                  data-abc="true">Continue
                        shopping</a>
                </div>
            </div>

            {%else%}
            <div class="container">
                <div class="ps-section__header">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="ps-section__content">
                    <div class="table-responsive">
                        <table class="table ps-table--shopping-cart ps-table--responsive">
                            <thead>
                            <tr>
                                <th>Product name</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>TOTAL</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Order_item in cart %}
                            <tr>
                                <td data-label="Product">
                                    <div class="ps-product--cart">
                                        <div class="ps-product__thumbnail"><a
                                                href="{% url 'core:productDetail' Order_item.item.slug %}"><img
                                                src="{{ Order_item.item.mainImage.url }}" alt=""></a></div>
                                        <div class="ps-product__content"><a
                                                href="{% url 'core:productDetail' Order_item.item.slug %}">{{Order_item.item.name}}</a>
                                            <p>Sold By:<strong>
                                                {{Order_item.item.user.sellerprofile.ShopDetails.ShopName}}</strong></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="price" data-label="Price">{% if Order_item.item.discountPrice%}
                                    {{ Order_item.item.discountPrice }}
                                    {%else%}
                                    {{ Order_item.item.price }}
                                    {%endif%}
                                </td>
                                <td data-label="Quantity">
                                    <div class="form-group--number">
                                        <a
                                                href="{% url 'core:remove-single-from-cart' Order_item.item.slug %}"
                                                class="trash-icon "><i
                                                class="icon-minus"></i> </a><strong>{{ Order_item.quantity }}</strong>
                                        <a href="{% url 'core:add-to-cart' Order_item.item.slug %}"
                                           class="trash-icon "><i class="icon-plus"></i></a>

                                    </div>
                                </td>
                                <td data-label="Total">{{Order_item.get_final_price}}</td>
                                <td data-label="Actions"><a
                                        href="{% url 'core:remove-from-cart' Order_item.item.slug %}"
                                        onclick="return confirm('Are you sure to Delete?')"><i
                                        class="icon-cross"></i></a></td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class="ps-section__cart-actions"><a class="ps-btn" href="{%url 'core:shop'%}"><i
                            class="icon-arrow-left"></i> Back to Shop</a>
                        <!--<a class="ps-btn ps-btn&#45;&#45;outline" href="shop-default.html"><i
                            class="icon-sync"></i> Update cart</a></div>-->
                    </div>
                    <div class="ps-section__footer">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <figure>
                                    <figcaption>Coupon Discount</figcaption>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <button class="ps-btn ps-btn--outline">Apply</button>
                                    </div>
                                </figure>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block--shopping-total">
                                    <div class="ps-block__header">
                                        <strong>Shipping</strong> {%shipping_li%}
                                    </div>
                                    <div class="ps-block__content">
                                        <ul class="ps-block__product">
                                            {% for Order_item in cart %}
                                            <li><span class="ps-block__shop">{{Order_item.item.user.sellerprofile.ShopDetails.ShopName}}</span>
                                                <a href="{% url 'core:productDetail' Order_item.item.slug %}">
                                                    {{Order_item.item.name}}</a></span></li>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                                <a class="ps-btn ps-btn--fullwidth" href="{% url 'core:checkout'%}">Proceed to
                                    checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
</body>
{% include 'footer.html'%}
