{% load static %}
{% load category_template_tags%}
{% load cart_template_tags%}
<html lang="en">
<head>
    <title>{{category_title}} | Jewellery | Jewellery.com.bd</title>
</head>
{%include 'header.html'%}


<body>

<div class="ps-page--shop">
    <div class="ps-container">

        <div class="ps-shop-categories">
            <div class="row align-content-lg-stretch">

            </div>
        </div>
        <div class="ps-layout--shop">
            <div class="ps-layout__left">
                <aside class="widget widget_shop">
                    <h4 class="widget-title">Categories</h4>
                    <ul class="ps-list--categories">
                        {%categories_shop%}
                    </ul>
                </aside>
                <aside class="widget widget_shop">
                    <h4 class="widget-title">Brands</h4>
                    <ul class="ps-list--categories">
                        {%brand_shop%}
                    </ul>
                </aside>
            </div>
            <div class="ps-layout__right">
                <div>
                    <p class="col-sm-8">
                    <h3>{{category_title}}</h3></p>
                    <p class="text-justify">{{category_description | safe}}</p>
                </div>
                <br>
                <div class="ps-shopping ps-tab-root">
                    <div class="ps-shopping__header">
                        {% prductCount as count %}
                        <p><strong> {{category_title}}</strong> Products found</p>
                        <div class="ps-shopping__actions">
                            <select class="ps-select" data-placeholder="Sort Items">
                                <option>Sort by latest</option>
                                <option>Sort by popularity</option>
                                <option>Sort by average rating</option>
                                <option>Sort by price: low to high</option>
                                <option>Sort by price: high to low</option>
                            </select>
                            <div class="ps-shopping__view">
                                <p>View</p>
                                <ul class="ps-tab-list">
                                    <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                    <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="tab-1">
                            <div class="ps-shopping-product">
                                <div class="row">
                                    {% for item in object_list %}
                                    {% if item.isactive %}
                                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">

                                        <div class="ps-product">
                                            <div class="ps-product__thumbnail"><a
                                                    href="{% url 'core:productDetail' item.slug %}"><img
                                                    src="{{item.mainImage.url}}" alt="" width="240" height="240"></a>
                                                <div class="ps-product__badge">
                                                    -{{item.get_percentage}}%
                                                </div>
                                                <ul class="ps-product__actions">
                                                    <li><a href="{% url 'core:add-to-cart' item.slug %}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Add to Cart"><i
                                                            class="icon-bag2"></i></a></li>
                                                    <li><a href="{% url 'core:productDetail' item.slug %}"
                                                           data-placement="top" title="Quick View"><i
                                                            class="icon-eye"></i></a>
                                                    </li>
                                                    <!--<li><a href="#" data-toggle="tooltip" data-placement="top"
                                                           title="Add to Whishlist"><i
                                                            class="icon-heart"></i></a></li>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="top"
                                                           title="Compare"><i
                                                            class="icon-chart-bars"></i></a></li>-->
                                                </ul>
                                            </div>
                                            <div class="ps-product__container">
                                                <a class="ps-product__vendor" href="#">
                                                    {{item.user.sellerprofile.ShopDetails.ShopName}}</a>
                                                <div class="ps-product__content">
                                                    <a class="ps-product__title"
                                                       href="{% url 'core:productDetail' item.slug %}">
                                                        {{item.name | truncatechars_html:35 }}</a>
                                                    <p class="ps-product__price">৳ {{item.price}}</p>
                                                </div>
                                                <div class="ps-product__content hover">
                                                    <a class="ps-product__title"
                                                       href="{% url 'core:productDetail' item.slug %}">
                                                        {{item.name | truncatechars_html:35 }}</a>
                                                    <p class="ps-product__price">৳ {{item.price}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="ps-pagination">
                                {%if is_paginated%}
                                <ul class="pagination">
                                    {%if page_obj.has_previous%}
                                    <li class="active"><a href="?page={{ page_obj.previous_page_number}}"><i
                                            class="icon-chevron-lrft"></i>Previous</a></li>
                                    {% endif %}
                                    <li><a href="#">{{page_obj.paginator.num_pages}}</a></li>
                                    {%if page_obj.has_next%}
                                    <li><a href="?page={{ page_obj.next_page_number}}">Next Page<i
                                            class="icon-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

    {% include 'footer.html'%}
</html>
