{% load static %}
{% load cart_template_tags%}
{% load checkout_templates_tags%}
<html lang="en">


{%include 'header.html'%}

<body>
<div class="ps-checkout ps-section--shopping">
    <div class="container">
        <div class="ps-section__header">
            <h1>Checkout</h1>
        </div>
        <div class="ps-section__content">

            <form class="needs-validation" novalidate method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12  ">
                        <div class="ps-form__billing-info">
                            <h3 class="ps-form__heading">Billing Details</h3>
                            <div class="form-group">
                                <label for="firstName">First Name<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input class="form-control" name="firstName" type="text" id="firstName"
                                           value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input name="lastName" id="lastName" class="form-control" type="text"
                                           value="{{user.last_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input id="email" name="email" value="{{user.email}}" class="form-control"
                                           type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Phone<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input id="mobile" name="mobile" value="{{userProfile.Phone}}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Address<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input name="address" id="address" value="{{userProfile.address}}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country">Country<sup>*</sup>
                                </label>
                                <div class="form-group__content">
                                    <input id="country" name="country" value="{{userProfile.country}}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <div>
                                    <input id="city" name="city" value="{{userProfile.city}}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip</label>
                                <div class="form-group__content">
                                    <input name="zip" type="text" class="form-control" id="zip" placeholder="">
                                </div>
                            </div>
                             <div class="form-group">
                                 <div class="custom-control custom-radio">
                                     <input id="Cash" value="Cash On Delivery" name="paymentMethod" type="radio"
                                            class="custom-control-input" checked required>
                                     <label class="custom-control-label" for="Cash"> <i
                                             class="far fa-money-bill-alt"></i> Cash On Delivery</label>
                                 </div>
                                 <div class="custom-control custom-radio">
                                     <input id="bkash" value="Bkash" name="paymentMethod" type="radio"
                                            class="custom-control-input" required>
                                     <label class="custom-control-label" for="bkash">
                                       <img src="../media/bkash.png" height="50" width="50"/>bkash</label>
                                 </div>
                             </div>
                                <input name="orderStatus" id="orderStatus" value="Processing" hidden>
                                <h3 class="mt-40"> Additional information</h3>
                                <div class="form-group">
                                    <label for="note">Order Notes</label>
                                    <div class="form-group__content">
                                        <textarea id="note" name="note" class="form-control" rows="7"
                                                  placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12  ">
                            <div class="ps-form__total">
                                <h3 class="ps-form__heading">Your Order</h3>
                                <div class="content">
                                    <div class="ps-block--checkout-total">
                                        <div class="ps-block__header">
                                            <p>Products</p>

                                        </div>

                                        <div class="ps-block__content">
                                            <table class="table ps-block__products">
                                                {% for Order_item in cart %}
                                                <tbody>
                                                <tr>
                                                    <td><a> <strong>{{ Order_item.item.name }}</strong></a></td>
                                                    <td><strong>{{Order_item.get_final_price}}</strong></td>
                                                </tr>
                                                </tbody>
                                                {%endfor%}
                                            </table>
                                            <table class="table ps-block__products">
                                                <tbody>
                                                <tr>
                                                    <td><a> <strong>{%shipping_li%}</strong></a></td>
                                                    <td><a> <strong>{%shipping_li%}</strong></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table ps-block__products">
                                                <tbody>
                                                <tr>
                                                    <td><strong>Total</strong></td>
                                                    <td><a> <strong><h3> <span>{{total}}</span></h3></strong></a></td>
                                                </tr>
                                                </tbody>
                                            </table>



                                        </div>
                                    </div>
                                    <button type="submit" class="ps-btn ps-btn--fullwidth">Place Your Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

</body>
{% include 'footer.html'%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/form-validation.js' %}"></script>
</html>
