{% load static %}
<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Contact us</h4>
                <div class="widget_content">
                    <p>Call us 24/7</p>
                    <h3>{{Settings.phone}}</h3>
                    <p>{{Settings.address}} <br><a href="mailto:{{Settings.email}}">{{Settings.email}}</a>
                    </p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="{{Settings.facebook}}"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="{{Settings.twitter}"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube" href="{{Settings.facebook}"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="instagram" href="{{Settings.instagram}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Quick links</h4>
                <ul class="ps-list--link">
                    <li><a href="{%url 'core:privacyPolicy'%}">Privacy Policy</a></li>
                    <li><a href="{%url 'core:paymentProcess'%}">Payment Process</a></li>
                    <li><a href="{%url 'core:refundReturnsPolicy'%}">Return Policy</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Company</h4>
                <ul class="ps-list--link">
                    <li><a href="{%url 'core:about'%}">About Us</a></li>
                    <li><a href="{%url 'core:contact'%}">Contact</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Bussiness</h4>
                <ul class="ps-list--link">
                    <li><a href="{%url 'core:checkout'%}">Checkout</a></li>
                    <li><a href="{%url 'core:userprofile'%}">My account</a></li>
                    <li><a href="{%url 'core:shop'%}">Shop</a></li>
                </ul>
            </aside>
        </div>
        <div class="ps-footer__copyright">
            <p>© 2020 Ecogreen Inc. All Rights Reserved</p>
            <p><span>We Using Safe Payment For:</span><a href="#"><img src="img/payment-method/1.jpg" alt=""></a><a
                    href="#"><img src="img/payment-method/2.jpg" alt=""></a><a href="#"><img
                    src="img/payment-method/3.jpg" alt=""></a><a href="#"><img src="img/payment-method/4.jpg"
                                                                               alt=""></a><a href="#"><img
                    src="img/payment-method/5.jpg" alt=""></a></p>
        </div>
    </div>
</footer>
