{% load static %}
{% load cart_template_tags%}
{% load category_template_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{{Settings.favIcon.url}}"/>
    <title> Jewellery | Jewellery.com.bd</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/lightGallery-master/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'core/plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<header class="header header--1" data-sticky="true">
    <div class="header__top" style="background: whitesmoke!important;">
        <div class="ps-container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            {% categories %}
                        </ul>
                    </div>
                </div>
                <a class="ps-logo" href="{% url 'core:home'%}">
                    <img src="{{Settings.logo.url}}" alt="" width="110"
                         height="70"></a>
            </div>
            <div class="header__center">
                <form class="ps-form--quick-search" action="/search/" method="get">
                    <div class="form-group--icon"></i>
                    </div>
                    <input class="form-control" name="search" type="search" required="required" type="text"
                           placeholder="I'm shopping fo.." id="input-search">
                    <button type="submit">Search</button>
                    <!--<div class="ps-panel&#45;&#45;search-result">
                        <div class="ps-panel__content">
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/1.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Apple iPhone Retina 6s
                                    Plus 32GB</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span></span>
                                    </div>
                                    <p class="ps-product__price">$990.50</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/1.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Apple iPhone Retina 6s
                                    Plus 64GB</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span></span>
                                    </div>
                                    <p class="ps-product__price">$1120.50</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/1.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Apple iPhone Retina 6s
                                    Plus 128GB</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span></span>
                                    </div>
                                    <p class="ps-product__price">$1220.50</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/2.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Marshall Kilburn
                                    Portable Wireless Speaker</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>01</span>
                                    </div>
                                    <p class="ps-product__price">$36.78 – $56.99</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/3.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Herschel Leather Duffle
                                    Bag In Brown Color</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>02</span>
                                    </div>
                                    <p class="ps-product__price">$125.30</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/4.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Xbox One Wireless
                                    Controller Black Color</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>02</span>
                                    </div>
                                    <p class="ps-product__price">$55.30</p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/5.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Grand Slam Indoor Of
                                    Show Jumping Novel</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>02</span>
                                    </div>
                                    <p class="ps-product__price sale">$41.27
                                        <del>$52.99</del>
                                    </p>
                                </div>
                            </div>
                            <div class="ps-product ps-product&#45;&#45;wide ps-product&#45;&#45;search-result">
                                <div class="ps-product__thumbnail"><a href="product-default.html"><img
                                        src="img/products/arrivals/6.jpg" alt=""></a></div>
                                <div class="ps-product__content"><a class="ps-product__title"
                                                                    href="product-default.html">Sound Intone I65
                                    Earphone White Version</a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>01</span>
                                    </div>
                                    <p class="ps-product__price sale">$41.27
                                        <del>$62.39</del>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="ps-panel__footer text-center"><a href="shop-default.html">See all results</a></div>
                    </div>-->
                </form>
            </div>
            <div class="header__right">
                <div class="header__actions"><a class="header__extra" href="#">
                    <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i>
                        <span>{% cartCount user.id as count %}
                            <i>{{count}}</i></span></a>
                        <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                {% for Order_item in cart %}
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail"><a
                                            href="{% url 'core:productDetail' Order_item.item.slug %}"><img
                                            src="{{ Order_item.item.mainImage.url }}" alt=""></a></div>
                                    <div class="ps-product__content">
                                        <a class="ps-product__remove"
                                           href="{% url 'core:remove-from-cart' Order_item.item.slug %}"
                                           onclick="return confirm('Are you sure to Delete?')"><i
                                                class="icon-cross"></i></a>
                                        <a href="{% url 'core:productDetail' Order_item.item.slug %}">
                                            {{ Order_item.item.name }}</a>
                                        <p><strong>Sold by:</strong> {{object.user.sellerprofile.ShopDetails.ShopName}}
                                        </p><small>{{ Order_item.quantity }} x {% if Order_item.item.discountPrice%}
                                        ৳ {{ Order_item.item.discountPrice }}
                                        {%else%}
                                        ৳ {{ Order_item.item.price }}
                                        {%endif%}</small>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                            <div class="ps-cart__footer">

                                <h3>Sub Total:<strong>{{total}}</strong></h3>
                                <figure><a class="ps-btn" href="/cart">View Cart</a><a class="ps-btn"
                                                                                       href="/checkout">Checkout</a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="ps-block--user-header">
                        <div class="ps-block__left"><i class="icon-user"></i></div>
                        <div class="ps-block__right">{% if request.user.is_authenticated %}
                            <a href="{% url 'core:userprofile' %}">{{request.user.username}}</a>
                            {%else%}
                            <a href="{% url 'core:login'%}">Login</a><a
                                    href="{% url 'core:signup'%}">Register</a>
                            {%endif%}
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation" style="background: #d09918!important;">
        <div class="ps-container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            {% categories %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navigation__right">
                <ul class="menu">
                    <li class="menu-item-has-children"><a href="#">Home</a><span class="sub-toggle"></span>
                        <ul class="sub-menu">
                            <li><a href="#">About us</a>
                        </ul>
                    </li>
                </ul>
                <ul class="navigation__extra">
                    <li><a href="/store-list/">Store</a></li>
                    <li><a href="/shop/">Shop Now</a></li>
                    <li><a href="/become-seller/">Sell on Jewellery</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<header class="header header--mobile" data-sticky="true">
    <div class="navigation--mobile" style="background: whitesmoke!important;">
        <div class="navigation__left">
            <a class="ps-logo" href="{% url 'core:home'%}"><img src="{{Settings.logo.url}}"
                                                                                          alt=""
                                                                                          height="60" width="100"></a>
        </div>
        <div class="navigation__right">
            <div class="header__actions">
                <div class="ps-cart--mini"><a class="header__extra" href="#"><i
                        class="icon-bag2"></i><span>{% cartCount user.id as count %}
                            <i>{{count}}</i></span></a>
                    <div class="ps-cart__content">
                        <div class="ps-cart__items">
                            {% for Order_item in cart %}
                            <div class="ps-product--cart-mobile">
                                <div class="ps-product__thumbnail"><a
                                        href="{% url 'core:productDetail' Order_item.item.slug %}"><img
                                        src="{{ Order_item.item.mainImage.url }}" alt=""></a></div>
                                <div class="ps-product__content">
                                    <a class="ps-product__remove"
                                       href="{% url 'core:remove-from-cart' Order_item.item.slug %}"
                                       onclick="return confirm('Are you sure to Delete?')"><i
                                            class="icon-cross"></i></a><a
                                        href="{% url 'core:productDetail' Order_item.item.slug %}">
                                    {{ Order_item.item.name }}</a>
                                    <p><strong>Sold by:</strong> {{object.user.sellerprofile.ShopDetails.ShopName}}</p>
                                    <small>{{ Order_item.quantity }} x {% if Order_item.item.discountPrice%}
                                        ৳ {{ Order_item.item.discountPrice }}
                                        {%else%}
                                        ৳ {{ Order_item.item.price }}
                                        {%endif%}</small>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <div class="ps-cart__footer">
                            <h3>Sub Total:<strong>{{total}}</strong></h3>
                            <figure><a class="ps-btn" href="/cart">View Cart</a><a class="ps-btn"
                                                                                   href="/checkout">Checkout</a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="ps-block--user-header">
                    <div class="ps-block__left"><i class="icon-user"></i></div>
                    <div class="ps-block__right">{% if request.user.is_authenticated %}
                        <a href="{% url 'core:userprofile' %}">{{request.user.username}}</a>
                        {%else%}
                        <a href="{% url 'core:login'%}">Login</a><a
                                href="{% url 'core:signup'%}">Register</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-search--mobile">

        <form class="ps-form--search-mobile" action="/search/" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="search" placeholder="Search something...">
                <button type="submit"><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>

</header>
<div class="ps-panel--sidebar" id="cart-mobile">
    <div class="ps-panel__header">
        <h3>Shopping Cart</h3>
    </div>
    <div class="navigation__content">
        <div class="ps-cart--mobile">
            <div class="ps-cart__content">
                {% for Order_item in cart %}
                <div class="ps-product--cart-mobile">
                    <div class="ps-product__thumbnail"><a
                            href="{% url 'core:productDetail' Order_item.item.slug %}"><img
                            src="{{ Order_item.item.mainImage.url }}" alt=""></a>
                    </div>
                    <div class="ps-product__content">
                        <a class="ps-product__remove" href="{% url 'core:remove-from-cart' Order_item.item.slug %}"
                           onclick="return confirm('Are you sure to Delete?')"><i
                                class="icon-cross"></i></a>
                        <a href="{% url 'core:productDetail' Order_item.item.slug %}">{{Order_item.item.name}}</a>
                        <p><strong>Sold by:</strong> {{object.user.sellerprofile.ShopDetails.ShopName}}</p><small>
                        {{ Order_item.quantity }} x {% if Order_item.item.discountPrice%}
                        ৳ {{ Order_item.item.discountPrice }}
                        {%else%}
                        ৳ {{ Order_item.item.price }}
                        {%endif%}</small>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="ps-cart__footer">
                <h3>Sub Total:<strong>৳ {{total}}</strong></h3>
                <figure><a class="ps-btn" href="/cart">View Cart</a><a class="ps-btn" href="/checkout">Checkout</a>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
        <h3>Categories</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            {%categories_mobile%}
        </ul>
    </div>
</div>
<div class="navigation--list">
    <div class="navigation__content"><a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i
            class="icon-menu"></i><span> Menu</span></a><a class="navigation__item ps-toggle--sidebar"
                                                           href="#navigation-mobile"><i class="icon-list4"></i><span> Categories</span></a><a
            class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-magnifier"></i><span> Search</span></a><a
            class="navigation__item ps-toggle--sidebar" href="#cart-mobile"><i class="icon-bag2"></i><span> Cart</span></a>
    </div>
</div>
<div class="ps-panel--sidebar" id="search-sidebar">
    <div class="ps-panel__header">

        <form class="ps-form--search-mobile" action='/search/' method="get">
            <div class="form-group--nest">
                <input class="form-control" name="search" type="search" required="required"
                       placeholder="Search something...">
                <button type="submit"><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
    <div class="navigation__content"></div>
</div>
<div class="ps-panel--sidebar" id="menu-mobile">
    <div class="ps-panel__header">
        <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li><a href="/store-list/">Store</a></li>
            <li><a href="/shop/">Shop Now</a></li>
            <li><a href="/become-seller/">Sell on Jewellery</a></li>
            <li class="menu-item-has-children"><a href="{% url 'core:userprofile' %}">My Profile</a><span
                    class="sub-toggle"></span>
                <ul class="sub-menu">
                    <li><a href="{% url 'core:userprofile' %}"><i class="icon-user"></i>
                        Account Information</a></li>
                    <li><a href="{% url 'core:userOrder' %}"><i class="icon-papers"></i> My Orders</a>
                    </li>
                    <li class="active"><a href="{% url 'core:changePassword' %}"><i class="icon-user-lock"></i> Change
                        Password</a>
                    <li><a href="{% url 'core:logout' %}"><i class="icon-power-switch"></i> Logout</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<div id="back2top"><i class="icon icon-arrow-up"></i></div>

<script src="{%static 'core/plugins/jquery.min.js'%}"></script>
<script src="{%static 'core/plugins/nouislider/nouislider.min.js'%}"></script>
<script src="{%static 'core/plugins/popper.min.js'%}"></script>
<script src="{%static 'core/plugins/owl-carousel/owl.carousel.min.js'%}"></script>
<script src="{%static 'core/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{%static 'core/plugins/imagesloaded.pkgd.min.js'%}"></script>
<script src="{%static 'core/plugins/masonry.pkgd.min.js'%}"></script>
<script src="{%static 'core/plugins/isotope.pkgd.min.js'%}"></script>
<script src="{%static 'core/plugins/jquery.matchHeight-min.js'%}"></script>
<script src="{%static 'core/plugins/slick/slick/slick.min.js'%}"></script>
<script src="{%static 'core/plugins/jquery-bar-rating/dist/jquery.barrating.min.js'%}"></script>
<script src="{%static 'core/plugins/slick-animation.min.js'%}"></script>
<script src="{%static 'core/plugins/lightGallery-master/dist/js/lightgallery-all.min.js'%}"></script>
<script src="{%static 'core/plugins/sticky-sidebar/dist/sticky-sidebar.min.js'%}"></script>
<script src="{%static 'core/plugins/select2/dist/js/select2.full.min.js'%}"></script>
<script src="{%static 'core/plugins/gmap3.min.js'%}"></script>
<!-- custom scripts-->
<script src="{% static 'core/js/main.js' %}"></script>
</html>

