{% load static %}
<html lang="en">
{%include 'header.html'%}


<body>

<div class="d-flex" id="wrapper">


    <section class="ps-section--account">
        <div class="container">
            <div class="ps-block--payment-success">
                <h3>Your Order Has been Placed !</h3>
                <p>Thanks {{user.first_name}} for your Order</p>
                <p>Your Order Id Is: {{ orderCode }} </p>
                <h4>Congratulations! You have got 2 Points as Reward. </h4>
            </div>
        </div>
    </section>
</div>
</body>

</body>
{% include 'footer.html'%}
</html>
