{% load static %}
{%include 'header.html'%}


<body>
<div class="ps-page--single">
    <div class="ps-vendor-store">
        <div class="container">
            <div class="ps-section__container">
                <div class="ps-section__left">
                    <div class="ps-block--vendor">
                        <div class="ps-block__thumbnail"><img
                                src="{{seller.user.sellerprofile.ShopDetails.ShopLogo.url}}" alt="">
                        </div>
                        <div class="ps-block__container">
                            <div class="ps-block__header">
                                <h4>{{seller.user.sellerprofile.ShopDetails.ShopName}}</h4>
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select>
                                <p><strong>85% Positive</strong></p>
                            </div>
                            <span class="ps-block__divider"></span>
                            <div class="ps-block__content">
                                <p><strong>{{seller.user.sellerprofile.ShopDetails.ShopName}}</strong></p><span
                                    class="ps-block__divider"></span>
                                <p><strong>Address</strong> {{seller.user.sellerprofile.ShopDetails.Address}}</p>
                                <figure>
                                    <figcaption>Follow us on social</figcaption>
                                    <ul class="ps-list--social-color">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </figure>
                            </div>
                            <div class="ps-block__footer">
                                <p>Call us directly<strong> {{seller.user.sellerprofile.ShopDetails.Phone}}</strong></p>
                                <p>or Or if you have any question</p><a class="ps-btn ps-btn--fullwidth"
                                                                        href="tel:{{seller.user.sellerprofile.ShopDetails.Phone}}">Contact
                                Seller</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-section__right">
                    <div class="ps-shopping ps-tab-root">
                        <div class="ps-shopping__header">
                            <div class="ps-shopping__actions">
                                <select class="ps-select" data-placeholder="Sort Items">
                                    <option>Sort by latest</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by price: low to high</option>
                                    <option>Sort by price: high to low</option>
                                </select>
                                <div class="ps-shopping__view">
                                    <p>View</p>
                                    <ul class="ps-tab-list">
                                        <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                        <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="row">
                                    {% for item in product %}
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                        <div class="ps-product">
                                            <div class="ps-product__thumbnail"><a
                                                    href="{% url 'core:productDetail' item.slug %}"><img
                                                    src="{{item.mainImage.url}}" alt="" width="170" height="200"></a>
                                                {%if item.discountPrice%}
                                                <div class="ps-product__badge"> -{{item.get_percentage}}%</div>
                                                {%endif%}
                                                <ul class="ps-product__actions">
                                                    <li><a href="{% url 'core:add-to-cart' item.slug %}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                                    <li><a href="{% url 'core:productDetail' item.slug %}"
                                                           data-placement="top" title="Quick View"><i
                                                            class="icon-eye"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__container"><a class="ps-product__vendor"
                                                                                  href="#"></a>
                                                <div class="ps-product__content"><a class="ps-product__title"
                                                                                    href="{% url 'core:productDetail' item.slug %}">
                                                    {{item.name | truncatechars_html:35 }}</a>
                                                    <div class="ps-product__rating">
                                                        <select class="ps-rating" data-read-only="true">
                                                            <option value="1">1</option>
                                                            <option value="1">2</option>
                                                            <option value="1">3</option>
                                                            <option value="1">4</option>
                                                            <option value="2">5</option>
                                                        </select>
                                                    </div>
                                                    {%if item.discountPrice%}
                                                    <p class="ps-product__price sale">৳ {{item.discountPrice}}
                                                        <del> ৳ {{item.price}}</del>
                                                    </p>
                                                    {%else%}
                                                    ৳ {{item.price}}
                                                    {%endif%}
                                                </div>
                                                <div class="ps-product__content hover"><a class="ps-product__title"
                                                                                          href="{% url 'core:productDetail' item.slug %}">
                                                    {{item.name | truncatechars_html:35 }}</a>
                                                    {%if item.discountPrice%}
                                                    <p class="ps-product__price sale">৳ {{item.discountPrice}}
                                                        <del> ৳ {{item.price}}</del>
                                                    </p>
                                                    {%else%}
                                                    ৳ {{item.price}}
                                                    {%endif%}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


{% include 'footer.html'%}


</html>
