{% load static %}
<title>Seller Store | Jewellery | Jewellery.com.bd</title>
{%include 'header.html'%}


<body>
 <div class="ps-page--comming-soon">
        <div class="container">
            <div class="ps-page__header"><a class="ps-logo" href="index.html"><img src="img/coming-soon-logo.png" alt=""></a>
                <h1> Coming Soon</h1>
                </div>
            <div class="ps-page__content"><img src="{%static 'coming-soon.jpg'%}" alt="">

            </div>
            <div class="ps-page__footer">
                <ul class="ps-list--social">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="back2top"><i class="icon icon-arrow-up"></i></div>
</body>


{% include 'footer.html'%}


</html>
